/* Orbit Classes Visualization Colors */
:root {
  /* Background */
  --orbit-bg: #f5f3e8;
  
  /* Tube colors - dark to light variations */
  --tube-dark-teal: #3a5868;
  --tube-dark-teal-light: #4a6878;
  --tube-dark-teal-dark: #2a4858;
  
  --tube-teal: #5a8898;
  --tube-teal-light: #6a98a8;
  --tube-teal-dark: #4a7888;
  
  --tube-light-teal: #7ab8c8;
  --tube-light-teal-light: #8ac8d8;
  --tube-light-teal-dark: #6aa8b8;
  
  --tube-orange: #c89870;
  --tube-orange-light: #d8a880;
  --tube-orange-dark: #b88860;
  
  --tube-beige: #d8c8a8;
  --tube-beige-light: #e8d8b8;
  --tube-beige-dark: #c8b898;
  
  /* Outlines */
  --tube-outline: #2a3840;
  --tube-outline-width: 2;
}

.orbit-container {
  width: 100%;
  height: 100%;
}

.orbit-background {
  fill: var(--orbit-bg);
}

/* Tube body styles */
.tube-dark-teal {
  fill: var(--tube-dark-teal);
}

.tube-dark-teal-light {
  fill: var(--tube-dark-teal-light);
}

.tube-dark-teal-dark {
  fill: var(--tube-dark-teal-dark);
}

.tube-teal {
  fill: var(--tube-teal);
}

.tube-teal-light {
  fill: var(--tube-teal-light);
}

.tube-teal-dark {
  fill: var(--tube-teal-dark);
}

.tube-light-teal {
  fill: var(--tube-light-teal);
}

.tube-light-teal-light {
  fill: var(--tube-light-teal-light);
}

.tube-light-teal-dark {
  fill: var(--tube-light-teal-dark);
}

.tube-orange {
  fill: var(--tube-orange);
}

.tube-orange-light {
  fill: var(--tube-orange-light);
}

.tube-orange-dark {
  fill: var(--tube-orange-dark);
}

.tube-beige {
  fill: var(--tube-beige);
}

.tube-beige-light {
  fill: var(--tube-beige-light);
}

.tube-beige-dark {
  fill: var(--tube-beige-dark);
}

/* Tube outline */
.tube-outline {
  fill: none;
  stroke: var(--tube-outline);
  stroke-width: var(--tube-outline-width);
  stroke-linejoin: round;
  stroke-linecap: round;
}